



<div class="mainbody">
  <div class="row">
    <div class="col-lg-12 col-md-12 col-sm-12">
      <div class="heading">
        <h2 class="wow fadeInLeftBig">Featured</h2>
      </div>
    </div>
  </div>


  <div class="row">
    <div class="col-lg-12 col-md-12 col-sm-12 text-center">
      <span id="catIllus">Illustration</span> | 
      <span id="catDesign">Design</span> | 
      <span id="catPhoto">Photography</span> | 
      <span id="cat3D">3D</span> | 
      <span id="catGIF">GIFs</span> | 
      <span id="catUX">UX/Web Design</span> | 
      <span id="catTypo">Typography</span> | 
      <span id="catArt">Artwork</span> | 
      <div id="tGallery">
        <ul id="tumblr-posts">
        </ul>
      </div>     
    </div>
  </div>
</div>




<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
<script>

$(document).ready(function() {

//////*/*/*/*/////// DESIGN //////*/*/*/*///////
  $('#catDesign').click(function(){
    var tumblrTag = "design";
    //reset/remove existing photos
    $("#tumblr-posts").html("");


    /* tumblr api get tagged posts */
    apiKey = "sO4aMxnu55qhYyiUpJPWncpOSAAi0gSQyVwk128u23vpVyKSoa";
    limit=50
    $.ajax({
        url: "https://api.tumblr.com/v2/blog/piiixels.tumblr.com/posts?limit=50",
        dataType: 'jsonp',
        data: {
        api_key: apiKey,
            tag: tumblrTag
        },
        success: function(results){
          var i = 0;
                while (i < results.response.posts.length) {
            var type = results.response.posts[i].type;
            if (type == "photo") {
              var photos = results.response.posts[i].photos;
              var linkURL = results.response.posts[i].post_url;
                        var caption = results.response.posts[i].caption;
              for (var j = 0; j < photos.length; j++) {
                if (photos[j].alt_sizes[1]) {
                  imgURL = photos[j].alt_sizes[1].url
                  // console.log(imgURL, linkURL);
                }else{
                  continue;
                }
                $("#tumblr-posts").append("<li><a href=" + linkURL + " target='_blank'><img src=" + imgURL + " /></a></li>");
              }
            }
            i++;
          }
          console.log(results.response);
        }
      });
  });




//////*/*/*/*/////// ILLUSTRATION //////*/*/*/*///////
  $('#catIllus').click(function(){
    var tumblrTag = "illustration";
    //reset/remove existing photos
    $("#tumblr-posts").html("");

    /* tumblr api get tagged posts */
    apiKey = "sO4aMxnu55qhYyiUpJPWncpOSAAi0gSQyVwk128u23vpVyKSoa";
    limit=50
    $.ajax({
        url: "https://api.tumblr.com/v2/blog/piiixels.tumblr.com/posts?limit=50",
        dataType: 'jsonp',
        data: {
        api_key: apiKey,
            tag: tumblrTag
        },
        success: function(results){
          var i = 0;
                while (i < results.response.posts.length) {
            var type = results.response.posts[i].type;
            if (type == "photo") {
              var photos = results.response.posts[i].photos;
              var linkURL = results.response.posts[i].post_url;
                        var caption = results.response.posts[i].caption;
              for (var j = 0; j < photos.length; j++) {
                if (photos[j].alt_sizes[1]) {
                  imgURL = photos[j].alt_sizes[1].url
                  // console.log(imgURL, linkURL);
                }else{
                  continue;
                }
                $("#tumblr-posts").append("<li><a href=" + linkURL + " target='_blank'><img src=" + imgURL + " /></a></li>");
              }
            }
            i++;
          }
          console.log(results.response);
        }
      });
  });


//////*/*/*/*/////// PHOTOGRAPHY //////*/*/*/*///////
  $('#catPhoto').click(function(){
    var tumblrTag = "photography";
    //reset/remove existing photos
    $("#tumblr-posts").html("");

    /* tumblr api get tagged posts */
    apiKey = "sO4aMxnu55qhYyiUpJPWncpOSAAi0gSQyVwk128u23vpVyKSoa";
    limit=50
    $.ajax({
        url: "https://api.tumblr.com/v2/blog/piiixels.tumblr.com/posts?limit=50",
        dataType: 'jsonp',
        data: {
        api_key: apiKey,
            tag: tumblrTag
        },
        success: function(results){
          var i = 0;
                while (i < results.response.posts.length) {
            var type = results.response.posts[i].type;
            if (type == "photo") {
              var photos = results.response.posts[i].photos;
              var linkURL = results.response.posts[i].post_url;
                        var caption = results.response.posts[i].caption;
              for (var j = 0; j < photos.length; j++) {
                if (photos[j].alt_sizes[1]) {
                  imgURL = photos[j].alt_sizes[1].url
                  // console.log(imgURL, linkURL);
                }else{
                  continue;
                }
                $("#tumblr-posts").append("<li><a href=" + linkURL + " target='_blank'><img src=" + imgURL + " /></a></li>");
              }
            }
            i++;
          }
          console.log(results.response);
        }
      });
  });




  
//////*/*/*/*/////// GIF //////*/*/*/*///////
  $('#catGIF').click(function(){
    var tumblrTag = "gif";
    //reset/remove existing photos
    $("#tumblr-posts").html("");

    /* tumblr api get tagged posts */
    apiKey = "sO4aMxnu55qhYyiUpJPWncpOSAAi0gSQyVwk128u23vpVyKSoa";
    limit=50
    $.ajax({
        url: "https://api.tumblr.com/v2/blog/piiixels.tumblr.com/posts?limit=50",
        dataType: 'jsonp',
        data: {
        api_key: apiKey,
            tag: tumblrTag
        },
        success: function(results){
          var i = 0;
                while (i < results.response.posts.length) {
            var type = results.response.posts[i].type;
            if (type == "photo") {
              var photos = results.response.posts[i].photos;
              var linkURL = results.response.posts[i].post_url;
                        var caption = results.response.posts[i].caption;
              for (var j = 0; j < photos.length; j++) {
                if (photos[j].alt_sizes[1]) {
                  imgURL = photos[j].alt_sizes[1].url
                  // console.log(imgURL, linkURL);
                }else{
                  continue;
                }
                $("#tumblr-posts").append("<li><a href=" + linkURL + " target='_blank'><img src=" + imgURL + " /></a></li>");
              }
            }
            i++;
          }
          console.log(results.response);
        }
      });
  });




//////*/*/*/*/////// 3D //////*/*/*/*///////
  $('#cat3D').click(function(){
    var tumblrTag = "3D";
    //reset/remove existing photos
    $("#tumblr-posts").html("");

    /* tumblr api get tagged posts */
    apiKey = "sO4aMxnu55qhYyiUpJPWncpOSAAi0gSQyVwk128u23vpVyKSoa";
    limit=50
    $.ajax({
        url: "https://api.tumblr.com/v2/blog/piiixels.tumblr.com/posts?limit=50",
        dataType: 'jsonp',
        data: {
        api_key: apiKey,
            tag: tumblrTag
        },
        success: function(results){
          var i = 0;
                while (i < results.response.posts.length) {
            var type = results.response.posts[i].type;
            if (type == "photo") {
              var photos = results.response.posts[i].photos;
              var linkURL = results.response.posts[i].post_url;
                        var caption = results.response.posts[i].caption;
              for (var j = 0; j < photos.length; j++) {
                if (photos[j].alt_sizes[1]) {
                  imgURL = photos[j].alt_sizes[1].url
                  // console.log(imgURL, linkURL);
                }else{
                  continue;
                }
                $("#tumblr-posts").append("<li><a href=" + linkURL + " target='_blank'><img src=" + imgURL + " /></a></li>");
              }
            }
            i++;
          }
          console.log(results.response);
        }
      });
  });
  


//////*/*/*/*/////// ART //////*/*/*/*///////
  $('#catArt').click(function(){
    var tumblrTag = "artwork";
    //reset/remove existing photos
    $("#tumblr-posts").html("");

    /* tumblr api get tagged posts */
    apiKey = "sO4aMxnu55qhYyiUpJPWncpOSAAi0gSQyVwk128u23vpVyKSoa";
    limit=50
    $.ajax({
        url: "https://api.tumblr.com/v2/blog/piiixels.tumblr.com/posts?limit=50",
        dataType: 'jsonp',
        data: {
        api_key: apiKey,
            tag: tumblrTag
        },
        success: function(results){
          var i = 0;
                while (i < results.response.posts.length) {
            var type = results.response.posts[i].type;
            if (type == "photo") {
              var photos = results.response.posts[i].photos;
              var linkURL = results.response.posts[i].post_url;
                        var caption = results.response.posts[i].caption;
              for (var j = 0; j < photos.length; j++) {
                if (photos[j].alt_sizes[1]) {
                  imgURL = photos[j].alt_sizes[1].url
                  // console.log(imgURL, linkURL);
                }else{
                  continue;
                }
                $("#tumblr-posts").append("<li><a href=" + linkURL + " target='_blank'><img src=" + imgURL + " /></a></li>");
              }
            }
            i++;
          }
          console.log(results.response);
        }
      });
  });



}); // end of document.ready








</script>

