<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>PIXAPOST : Home</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Bootstrap -->
    <link href="/public/css/bootstrap.min.css" rel="stylesheet">
    <!-- Font awesome -->
    <link href="/public/css/font-awesome.min.css" rel="stylesheet">
    <!-- Default Theme css file -->
    <link id="orginal" href="/public/css/themes/riptide-theme.css" rel="stylesheet">
    <!-- Main structure css file -->
    <link href="/public/css/style.css" rel="stylesheet">
    <!-- Masonry Grid css file -->
    <link href="/public/css/masonry.css" rel="stylesheet">
    <!-- Google fonts -->
    <link href='http://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Varela' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Sansita+One' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Quicksand' rel='stylesheet' type='text/css'>
  </head>
  <body>

    <!-- PRELOADER -->
    <div id="preloader">
      <div id="status">&nbsp;</div>
    </div>
    <!-- SCROLL TOP BUTTON -->
    <a class="scrollToTop" href="#"><i class="fa fa-angle-up"></i></a>

    <!--=========== HEADER SECTION ================-->
    <header id="header">
      <!-- NAV/MENU -->
      <div class="menu_area">
        <nav class="navbar navbar-default navbar-fixed-top" role="navigation">
          <div class="container">
            <div class="navbar-header">
              <!-- FOR MOBILE VIEW COLLAPSED BUTTON -->
              <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
              </button>
              <!-- LOGO -->
              <a class="navbar-brand" href="#">Pixa<span>Post</span></a>
            </div>
            <!-- NAVIGATION  -->
            <div id="navbar" class="navbar-collapse collapse">
              <ul id="top-menu" class="nav navbar-nav navbar-right main_nav">
                <li class="active"><a href="/">Home</a></li>
                <li><a href="<% if (currentUser) { %>/favorites/<%- currentUser.id %><% } else { %>/auth/login<% } %>">Favorites</a></li>
                <li><a href="/upload">Upload</a></li>
                <li><a href="/auth/login">Log In</a></li>
                <li><a href="/auth/signup" class="signUpNav">Sign Up</a></li>
              </ul>
            </div>
          </div>
        </nav>
      </div>
    </header>


    <!--=========== MAIN BODY SECTION ================-->
    <section id="mainbody">
      <div class="row">
        <div class="col-lg-12 col-md-12">
          <div class="container">
            <%- body %>
          </div>
        </div>
      </div>
    </section>


    <!--=========== SIGN UP SECTION ================-->
    <section id="contact">
      <div class="container">
        <div class="row">
          <div class="col-lg-12 col-md-12 col-sm-12">
            <!-- HEADING -->
            <div class="heading">
              <h2>Sign Up</h2>
              <div class="larger">Sign up now for free!</div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="contact_content">
            <div class="col-lg-2 col-md-2 col-sm-2">
            </div>
            <div class="col-lg-8 col-md-8 col-sm-8">
              <div class="contact_form">
                <!-- SIGN UP FORM -->
                <form action="/auth/signup" method="POST">
                  <input id="authEmail" class="form-control" type="email" name="email" placeholder="Email">
                  <input id="authName" class="form-control" type="text" name="name" placeholder="Name">
                  <input id="authPassword" class="form-control" type="password" name="password" placeholder="Password">
                  <input class="submit_btn" type="submit" value="Send">
                </form>
                <!-- ALERTS -->
                <div style="margin-top:30px">
                  <% if (alerts.error) { %>
                    <% alerts.error.forEach(function(msg) { %>
                      <div class="alert alert-danger"><%= msg %></div>
                    <% }); %>
                  <% } %>
                  <% if (alerts.success) { %>
                    <% alerts.success.forEach(function(msg) { %>
                      <div class="alert alert-success"><%= msg %></div>
                    <% }); %>
                  <% } %>
                </div>
              </div>
            </div>
            <div class="col-lg-2 col-md-2 col-sm-2">
            </div>
          </div>
        </div>
      </div>
    </section>

    <!--=========== FOOTER ================-->
    <footer id="footer">
      <div class="container">
        <div class="row">
          <div class="col-lg-6 col-md-6 col-sm-6">
            <div class="footer_left">
              <p>Copyright &copy; 2015 <a href="http://www.wpfreeware.com">WpFreeware</a>. All Rights Reserved</p>
            </div>
          </div>
          <div class="col-lg-6 col-md-6 col-sm-6">
            <div class="footer_right">
              <ul class="social_nav">
                <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
                <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </footer>

    <!-- jQuery Library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <!-- Load images from Tumblr API  -->
    <script src="/public/js/tumblr.js"></script>
    <!-- Bootstrap js -->
    <script src="/public/js/bootstrap.min.js"></script>
    <!-- Custom js-->
    <script src="/public/js/custom.js"></script>
  </body>
</html>
