<div class="mainbody">
  <div class="row">
    <div class="col-lg-12 col-md-12 col-sm-12">
      <!-- HEADING -->
      <div class="heading">
        <h2 class="wow fadeInLeftBig">Upload Photo</h2>
      </div>
    </div>
  </div>       
  <div class="row">
      <!-- BEGIN FORM -->
      <div class="col-lg-7 col-md-7 col-sm-7">
        <div class="upload_form">
          <form action="/" method="POST" enctype="multipart/form-data">
            <div class="form-group">
            <label for="myFile">File Upload:</label>
            <input type="file" name="myFile" id="myFile" class="form-control">
            </div>
            <input type="submit" class="submit_btn" value="Upload">
          </form>

        <!-- <div style="margin-top:30px">
          <% if (alerts.error) { %>
            <% alerts.error.forEach(function(msg) { %>
              <div class="alert alert-danger"><%= msg %></div>
            <% }); %>
          <% } %>
          <% if (alerts.success) { %>
            <% alerts.success.forEach(function(msg) { %>
              <div class="alert alert-success"><%= msg %></div>
            <% }); %>
          <% } %>
        </div> -->
        </div>
      </div>
      <div class="col-lg-5 col-md-5 col-sm-5 text-center">
      </div>
  </div>
</div>